Package: capslock-auto-switch
Version: 0.1.0
Homepage: https://github.com/ad2ien/capslock-auto-switch
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Adrien Touzouli <contact@ad2ien.dev>
Depends: libc6, libx11-dev, libxdo-dev
Description: Auto switch capslock
  Listen to keyboard events, if a caps inversion is detected at the beginning of a sentence
  caps lock is inverted and word is corrected.
